<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand fw-bold" href="/">Solar Art Gallery</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Portfolio</a>
        </li>
      </ul>

      <ol class="breadcrumb">
        <li *ngIf="!logged" class="breadcrumb-item">
          <span class="fas fa-user mx-2"></span><a href="#">Sign In</a>
        </li>
        <li *ngIf="!logged" class="breadcrumb-item">
          <a href="#">Sign Up</a>
        </li>
        <li *ngIf="logged" class="breadcrumb-item">
          <span class="fas fa-sign-out-alt mx-2"></span><a href="#">Sign Out</a>
        </li>
      </ol>
      <!-- links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
