header {
  h2 {
    letter-spacing: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .new-album-btn {
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-right: 3rem;

    background-color: var(--mdb-dark-tint-1);
    color: var(--mdb-white);
  }
}

main {
  .no-albums {
    min-height: 20vh;
  }

  .card {
    width: min-content;

    .card-header {
      img {
        min-width: 18rem;
        max-width: 18rem;
        min-height: 18rem;
        max-height: 18rem;
        object-fit: cover;
      }

      .card-a-href {
        background-color: var(--hover-img);
      }
    }

    .card-footer {
      .edit-btn {
        background-color: var(--mdb-dark-tint-2);
        color: var(--mdb-white);
      }
    }
  }
}
