<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="modal-body m-0 p-0">
    <div class="card">
      <div class="row g-0">
        <div class="col-4 d-flex justify-content-end">
          <div class="img-wrapper d-flex flex-fill">
            <img
              [src]="imgPreview"
              alt="Add an image"
              class="img-fluid flex-grow-1"
              *ngIf="imgPreview"
            />
            <div
              class="
                img-thumbnail
                d-flex
                flex-fill
                justify-content-center
                align-items-center
                m-2
              "
              *ngIf="!imgPreview"
            >
              <p>Please Select an Image</p>
            </div>
            <div class="btn-overlay">
              <input
                type="file"
                accept="image/*"
                #inputFile
                (change)="onFileChange($event)"
              />
              <a
                [ngClass]="imgPreview ? 'text-light' : 'text-dark'"
                role="button"
                (click)="inputFile.click()"
              >
                <i class="fas fa-image fa-lg shadow-1-strong"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="card-body">
            <h4 class="mb-1 mx-3 fw-light text-uppercase text-center">
              {{
                modalType === modalTypesEnum.addAlbum
                  ? "Add Album"
                  : "Add Painting"
              }}
            </h4>

            <hr />

            <div
              class="form-check form-switch d-flex justify-content-end"
              *ngIf="modalType === modalTypesEnum.addAlbum"
            >
              <input
                mdbCheckbox
                type="checkbox"
                class="form-check-input"
                id="visibilityToggle"
                [checked]="visibilityToggle"
                (change)="onToggleVisibility($event)"
              />
              <label mdbLabel class="form-label" for="visibilityToggle">
                Public
              </label>
            </div>

            <mdb-form-control>
              <input
                [mdbValidate]="true"
                mdbInput
                type="text"
                id="title"
                class="form-control"
                formControlName="title"
              />
              <label mdbLabel class="form-label" for="title">Title</label>
            </mdb-form-control>

            <mdb-form-control>
              <textarea
                [mdbValidate]="true"
                rows="3"
                mdbInput
                id="description"
                class="form-control"
                formControlName="description"
              ></textarea>
              <label mdbLabel class="form-label" for="description">
                Description
              </label>
            </mdb-form-control>

            <div class="d-flex align-items-center justify-content-center mt-2">
              <button
                type="button"
                class="btn btn-light me-4"
                (click)="modalRef.close()"
              >
                Cancel
              </button>
              <button
                type="button"
                type="submit"
                [disabled]="!addForm.valid || addForm.pristine"
                class="btn add-btn"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
