<header>
  <div class="row">
    <div class="col">
      <h5 class="fw-light text-center text-uppercase">Paintings</h5>
    </div>
  </div>
</header>

<main>
  <div class="row">
    <div class="row row-cols-1 row-cols-xxl-2 g-3 m-0">
      <div
        class="col d-flex justify-content-center"
        *ngFor="let art of dummyArts; index as i"
      >
        <div class="card hover-overlay">
          <img [src]="art.imgUrl" [alt]="art.title" class="card-img" />
          <a href="#!">
            <div class="card-a-href mask"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
