<h2 class="fw-light text-center text-uppercase">Portfolios</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
  <div class="col" *ngFor="let album of dummyAlbums; index as i">
    <div class="card bg-dark text-white hover-overlay">
      <img [src]="album.coverUrl" class="card-img" [alt]="album.title" />
      <div class="card-img-overlay d-flex justify-content-end align-items-end">
        <p class="card-text fw-light">{{ album.title }}</p>
      </div>
      <a href="#">
        <div class="mask cardAHref"></div>
      </a>
    </div>
  </div>
</div>
