<div *ngIf="!(loadingState.isLoading | async)">
  <header>
    <h4 class="fw-light text-center text-uppercase" *ngIf="album">
      {{ album.ownerName }} - {{ album.title }}
    </h4>

    <h4 class="fw-light text-center text-uppercase" *ngIf="!album">
      Album Not Found
    </h4>
  </header>

  <main>
    <div
      class="no-arts d-flex justify-content-center align-items-center"
      *ngIf="album && arts && arts.length === 0"
    >
      <h5 class="fw-light my-5 mx-4">This album is empty.</h5>
    </div>

    <div
      class="no-arts d-flex justify-content-center align-items-center"
      *ngIf="!album"
    >
      <h5 class="fw-light my-5 mx-4">This album doesn't exists.</h5>
    </div>

    <mdb-carousel
      [controls]="true"
      [interval]="0"
      [dark]="true"
      #carousel
      *ngIf="arts && arts.length > 0"
    >
      <mdb-carousel-item *ngFor="let art of arts; index as i">
        <div class="card">
          <div class="hover-overlay" mdbRipple rippleColor="light">
            <img [src]="art.imgUrl" [alt]="art.title" class="card-img-top" />
            <a (click)="onOpenViewModal(art)">
              <div class="card-a-href mask"></div>
            </a>
          </div>

          <div class="card-body text-center">
            <h5 class="card-title">{{ art.title }}</h5>
            <p class="card-text">{{ art.description }}</p>
            <p class="card-text">
              <small class="text-muted">{{ album.ownerName }}</small>
            </p>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </main>
</div>
