<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <h5 class="text-uppercase">About Us</h5>
    <p>
      Solar Art Gallery is a place for artists share their paintings and create
      virtual exhibitions.
    </p>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bg-dark text-white-50 p-3 text-end">
    © 2021 Copyright <span class="text-light ms-2">Solar Art Gallery</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
